@import "_hover/color__border_hover";

.color__border{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 80px;
    height: 80px;
    border: 1px solid #888888;
    border-radius: 4px;
    gap: 10px;
}
