@import "__inner/footer__inner";
@import "__contacts/footer__contacts";
@import "__info/footer__info";
@import "__name/footer__name";
@import "__container/footer__container";
@import "__anchor/footer__anchor";

.footer{
    background: #F2F2F2;
    height: 110px;
    margin-top: 60px;
}