.review__name {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  margin-bottom: 10px;
}

.review__stars {
  margin-bottom: 20px;
}

@media (width: 1024px) {
  .review__stars {
    margin-bottom: 10px;
  }
}
.review__star {
  height: 30px;
  width: 30px;
}

@media (width: 1024px) {
  .review__star {
    height: 20px;
    width: 20px;
  }
}
.review__text {
  font-size: 14px;
  line-height: 17px;
}
.review__text span {
  display: block;
  font-weight: 700;
}
.review__text + .review__text {
  padding-top: 10px;
}

@media (width: 1024px) {
  .review__img {
    width: 100px;
    height: 100px;
  }
}
.review {
  display: flex;
  gap: 30px;
}

@media (width: 1024px) {
  .review {
    display: flex;
    gap: 20px;
  }
}/*# sourceMappingURL=review.css.map */