@import "_hover/price__button_hover";
@import "_active/price__active";

.price{
    &__button{
        display: flex;
        gap: 17px;
        justify-content: center;
        background: #F36223;
        padding: 20px 5px;
        max-width: 100%;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 20px;
        line-height: 24px;
        cursor: pointer;
    }

    &__button::before{
        content: "";
        display: inline-block;
        background-image: url("../../../static/images/basket.svg");
        width: 24px;
        height: 24px;
        background-repeat: no-repeat;
        background-position: center center;
    }
}

