@import "./Components/css/normalize.css";
@import "./Components/PageProduct/PageProduct.css";

*, 
*::after,
*::before{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

p{
    margin: 0;
}

ul{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Inter', sans-serif;;
    font-size: 16px;
    line-height: 19px;
    color: #000000;
    font-weight: 500;
    background: #F8FAFE;
}
