.form-review {
    &__button {
        display: inline-block;
        border-radius: 4px;
        max-width: 177px;
        max-height: 39px;
        padding: 10px 20px;
        background-color: #F36223;
        text-align: center;
        vertical-align: middle;
        color: #FFFFFF;
    }
}