.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__basket {
  margin-right: 20px;
}

.header__number {
  position: relative;
  top: -15px;
  right: 20px;
  font-size: 10px;
  line-height: 12px;
  width: 14px;
  height: 14px;
  border: 1px solid #081658;
  color: #081658;
  border-radius: 10px;
  text-align: center;
  font-weight: 700;
}

.header {
  padding-top: 18px;
}/*# sourceMappingURL=Header.css.map */