.characteristics{
    &__form-review{
        padding: 60px 0 0 170px;
    }
}

@media (width: 1024px) {
    .characteristics{
        &__form-review{
            padding: 60px 0 0 0px;
        }
    }
}