.form-error__text {
  color: white;
  font-size: 12px;
  line-height: 15px;
  padding: 8px 20px;
}

.form-error {
  display: block;
  background: #DA4A0C;
  width: 494px;
  height: 31px;
}/*# sourceMappingURL=form-error.css.map */