.color__group {
  display: flex;
  gap: 10px;
  cursor: pointer;
}

.color__border:hover {
  background: #F2F2F2;
}

.color__border {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 80px;
  height: 80px;
  border: 1px solid #888888;
  border-radius: 4px;
  gap: 10px;
}

.color__img {
  width: 31px;
  height: 60px;
}/*# sourceMappingURL=color.css.map */