.menu{
    &__item {
        margin-top: 10px;
    }
    &__item::before{
        content: "";
        display: inline-block;
        background: #888888;
        width: 10px;
        height: 10px;
        border-radius: 50%;
        margin-right: 10px;
    }
}