.menu__link {
  color: #008CF0;
  text-decoration: none;
}

.menu__item {
  margin-top: 10px;
}
.menu__item::before {
  content: "";
  display: inline-block;
  background: #888888;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  margin-right: 10px;
}

.menu__list {
  list-style: none;
}/*# sourceMappingURL=menu.css.map */