.form-review{
    &__textarea-box{
        width: 710px;
        height: 190px;
    }
}

.form-review{
    &__textarea-box::placeholder{
        color: #888888;
        padding: 15px 0 0 20px;
    }
}

@media (width: 1024px) {
    .form-review{
        &__textarea-box{
            width: 594px;
        }
    }
}
